<div class="top-of-page "#topOfPage></div>

<div class="dark-bg banner-container full-height-no-footer side-paddings">
  <div class="mobile-only"><i>This page is best viewed on a desktop browser!</i></div>
  <div class="title-container">
    <div class="case-title">
      Spotify App Feature:
    </div>
    <div class="case-subtitle">
      Adding a social feature to the music streaming service
    </div>
  </div>
  <img src="/assets/spotify/spotify_banner.png" class="banner-img">
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Project Overview
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="content-subtitle">ROLE</div>
      <div class="left-col-content">UX/UI Designer, Researcher</div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">TOOLS</div>
      <div class="left-col-content">Sketch, Marvel</div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">DURATION</div>
      <div class="left-col-content">80 hours within 2 weeks</div>
    </div>
    <div class="content-section">
      <div class="left-col-content" style="font-size: 14px;">Note: This was a speculative project for Designlab.</div>
    </div>
  </div>

  <div class="right-content">
    <div class="content-section">
      <div class="content-subtitle">BACKGROUND</div>
      <div>
        Spotify is a leading music streaming service on a mission to connect people with music. In order to improve engagement and retention, they want to help people connect with each other through music.
      </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">GOAL</div>
      <div>
        Integrate a new social feature seamlessly within the existing Spotify application.
      </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">PROBLEM</div>
      <div>
        People share their music outside of Spotify because they do not find the share options easily accessible.
      </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">SOLUTION</div>
      <div>
        Design a straightforward way for users to send music and share music tastes with friends within the app.
      </div>
    </div>
  </div>
</div>

<div class="dark-bg quote">
  How might we help users share music within the Spotify app?
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Research
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="content-subtitle">GOALS</div>
      <div class="left-col-content">
        <ul>
          <li>Understand how people share music.</li>
          <br>
          <li>Learn what motivates people to share or not share music.</li>
          <br>
          <li>Identify the pain points and unmet needs of people when they share music.</li>
        </ul>
      </div>
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="sources">
        Sources: RIAA 2019 Year-End Music Industry Revenue Report, Goodwater Capital Thesis, IFPI Music Consumer Insight Report 2018, AudienceNet The Overall Music Landscape 2018
      </div>
    </div>
  </div>

  <div class="right-content">
    <div class="content-section">
      <div class="research-list">
        <div class="content-subtitle">MARKET RESEARCH + COMPETITIVE ANALYSIS</div>
        <div style="font-size: 18px;">
          I looked into industry trends and what other music streaming services offer to users.
        </div>
        <ul>
          <li style="margin-bottom: 10px">Streaming accounted for nearly 80% of U.S. music revenue in 2019.</li>
          <li style="margin-bottom: 10px">60 million U.S. consumers pay for a on-demand streaming subscription.</li>
          <li style="margin-bottom: 10px">Spotify’s revenue represents 30% of the global music market and 42% of the streaming music market.</li>
          <li style="margin-bottom: 10px">66% of consumers typically listen to music in the car, 54% during commute, 40% while working or studying.</li>
          <li style="margin-bottom: 10px">35% of WhatsApp users share links to music using the app, 30% of Facebook users share links to music using the app.</li>
          <li style="margin-bottom: 10px">38% listen to on-demand streaming on YouTube, 28% listen on Spotify.</li>
          <li style="margin-bottom: 10px">46% discovered music from FM/AM radio, 33% from YouTube, and 27% from friend recommendations.</li>
          <li style="margin-bottom: 10px">33% of playlist listening time is dedicated to those created by streaming platforms.</li>
        </ul>
      </div>
      <br>
      <img src="assets/spotify/spotify_competitive_analysis.png"
           class="content-image"
           (click)="openDialog('assets/spotify/spotify_competitive_analysis.png')">
    </div>
  </div>
</div>


<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="content-subtitle">1-ON-1 INTERVIEWS</div>
    <div class="left-col-content">
      <p>
        Two rounds of interviews were conducted with a total of seven participants.
      </p>
      <p>
        I set out to discover what motivates users to share music, any methods and workarounds they use, and if there is any confusion about what Spotify offers.
      </p>
    </div>
  </div>
  <div class="right-content-wide" style="padding-top: 0px;">
    <div class="content-section">
      <div class="sketches-container">
        <div class="research-list">
          <div class="content-subtitle">ROUND 1</div>
          <div style="font-size: 18px;">
            To learn how and why people share or don’t share music, I interviewed five participants about their music sharing experience.
          </div>
          <ul>
            <li style="margin-bottom: 10px">3 Spotify Premium subscribers report they don’t usually share music, but recall past instances of sharing music.</li>
            <li style="margin-bottom: 10px">1 Apple Music subscriber actively shares music.</li>
            <li style="margin-bottom: 10px">1 iHeartRadio free member never shares music.</li>
            <li style="margin-bottom: 10px">Share music through a messaging app like iMessage or Facebook Messenger.</li>
            <li style="margin-bottom: 10px">Sharing options aren’t obvious or easy to access within the app.</li>
            <li style="margin-bottom: 10px">Don’t always know people’s music taste and if the music they share would be appreciated.</li>
            <li style="margin-bottom: 10px">Unable to find friends or playlists easily and can’t share music without using third party apps.</li>
            <li style="margin-bottom: 10px">Want convenient ways to save and share songs, and reference songs and playlist they’ve previously shared with others.</li>
            <li style="margin-bottom: 10px">Share music when they hear a song that reminds them of someone, share similar artists and songs, share with people who have similar interests, and share with a small group of friends. </li>
            <li style="margin-bottom: 10px">Make group playlists with friends for events like parties and trips.</li>
          </ul>
        </div>
        <div class="research-list">
          <div class="content-subtitle">ROUND 2</div>
          <div style="font-size: 18px;">
            I spoke with two Spotify Premium subscribers who actively share music to discuss issues from round 1 and get more insight on how people use Spotify.
          </div>
          <ul>
            <li style="margin-bottom: 10px">Share music by using the Share to Instagram Stories feature and Copy Link feature (which they paste into a third party messaging app).</li>
            <li style="margin-bottom: 10px">Chat with friends about music on third party messaging apps.</li>
            <li style="margin-bottom: 10px">Don't look at friends' profiles because they aren't easy to find and don't have personalized information (such as music taste).</li>
            <li style="margin-bottom: 10px">Determine what and who to share with based on similar music tastes.</li>
            <li style="margin-bottom: 10px">Know someone's music taste from their friendship history with that person.</li>
            <li style="margin-bottom: 10px">Enjoy sharing the Spotify yearly roundup with friends because it contains information they’d like to share and know about their friend’s music taste.</li>
            <li style="margin-bottom: 10px">Interested to see what kind of music their friends listen to and a way to find music they shared with friends in the past.</li>
            <li style="margin-bottom: 10px">Use discussion forums like Reddit for music recommendations.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-section" style="width: 85%">
      <div class="content-subtitle">EMPATHY MAP</div>
      <div>
        I categorized experiences and quotes from interview participants into what a user thinks, sees, and hears to help me understand more about who the user is.
      </div>
      <br>
      <img src="assets/spotify/spotify_empathy_map.png"
           class="content-image"
           (click)="openDialog('assets/spotify/spotify_empathy_map.png')">
    </div>
    <div class="content-section" style="width: 85%">
      <div class="content-subtitle">USER PERSONA</div>
      <div>
        From the empathy map, I shaped a persona to help me understand the behavior of the user I was designing for. Mark is someone who sends music to his loved ones regularly, but is hesitant when it comes to people whose music tastes he isn't familiar with. He wants to know more about his friend’s music tastes so he can actively share music with them.
      </div>
      <br>
      <img src="assets/spotify/spotify_persona.png"
           class="content-image"
           (click)="openDialog('assets/spotify/spotify_persona.png')">
    </div>
  </div>
</div>

<div class="dark-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Define
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
        <div class="content-subtitle">PROBLEM</div>
        <div class="left-col-content">
          People share music outside of Spotify because the share options are not easy to find, so how might we help users share music within the app?
        </div>
    </div>
        <div class="content-subtitle">SOLUTION</div>
        <div class="left-col-content">
          Encourage users to share music with friends within the app through detailed profiles, messaging, and quicker access to the share option.
        </div>
  </div>
  <div class="right-content">
    <div class="content-section">
      <div class="content-subtitle">CRAZY EIGHTS</div>
        <div>
          <p>
            After learning about the target user,  I explored three problem statements regarding sharing music within the app, keeping track of music shared, and connecting with people with similar music tastes.
          </p>
          <p>
            I brainstormed ideas using the Crazy Eights method for a rapid way of determining which problem to focus on.
          </p>
        </div>
      <br>
      <div class="sketches-container">
        <img src="assets/spotify/spotify_crazy_eights_1.jpeg"
             class="content-image" style="width: 50%; padding-right: 20px"
             (click)="openDialog('assets/spotify/spotify_crazy_eights_1.jpeg')">
        <img src="assets/spotify/spotify_crazy_eights_2.jpeg"
             class="content-image" style="width: 50%;"
             (click)="openDialog('assets/spotify/spotify_crazy_eights_2.jpeg')">
      </div>
      <br>
      <div class="sketches-container">
        <img src="assets/spotify/spotify_crazy_eights_3.jpeg"
             class="content-image" style="width: 50%; padding-right: 20px"
             (click)="openDialog('assets/spotify/spotify_crazy_eights_3.jpeg')">
        <img src="assets/spotify/spotify_crazy_eights_4.jpeg"
             class="content-image" style="width: 50%;"
             (click)="openDialog('assets/spotify/spotify_crazy_eights_4.jpeg')">
      </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">STORYBOARDS</div>
        <div>
          I used the Crazy Eights method to make storyboards with solutions that address the problem of users struggling to share music within the app.
        </div>
      <br>
      <div class="sketches-container">
        <img src="assets/spotify/spotify_storyboard_1.jpeg"
             class="content-image" style="width: 50%; padding-right: 20px"
             (click)="openDialog('assets/spotify/spotify_storyboard_1.jpeg')">
        <img src="assets/spotify/spotify_storyboard_2.jpeg"
             class="content-image" style="width: 50%;"
             (click)="openDialog('assets/spotify/spotify_storyboard_2.jpeg')">
      </div>
      <br>
      <div class="sketches-container">
        <img src="assets/spotify/spotify_storyboard_3.jpeg"
             class="content-image" style="width: 50%; padding-right: 20px"
             (click)="openDialog('assets/spotify/spotify_storyboard_3.jpeg')">
        <img src="assets/spotify/spotify_storyboard_4.jpeg"
             class="content-image" style="width: 50%;"
             (click)="openDialog('assets/spotify/spotify_storyboard_4.jpeg')">
      </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">USER FLOW</div>
        <div>
          I took ideas from the last storyboard with the option to share directly with a friend, pop-up message, and chat history to map out a flow and help guide the designs.
        </div>
        <br>
        <img src="assets/spotify/spotify_user_flow.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_user_flow.png')">
    </div>
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Design
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="content-subtitle">SKETCHES + PAPER PROTOTYPE</div>
      <div class="left-col-content">
        I referenced the Spotify app to ensure consistency in the designs, and created a “paper prototype” for quick feedback on the Share within Spotify feature.
      </div>
    </div>
  </div>
  <div class="right-content-wide">
    <div class="sketches-container">
      <div class="content-subsection">
        <div class="coral-subtitle">NOW PLAYING</div>
        <div>
          Share button on the Now Playing screen for quicker access to share options
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">SHARE OPTIONS</div>
        <div>
          Spotify Friends (utilizing existing user profiles) as a share option
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">FRIENDS LIST</div>
        <div>
          Suggestions on who to share with based on share history and similar music taste.
        </div>
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <img src="assets/spotify/spotify_sketch_1.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_sketch_1.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/spotify/spotify_sketch_2.png"
            class="content-image-no-shadow" style="width: 75%"
            (click)="openDialog('assets/spotify/spotify_sketch_2.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/spotify/spotify_sketch_3.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_sketch_3.png')">
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <div class="coral-subtitle">PROFILE WITH MESSAGE POP-UP</div>
        <div>
          Adding music taste offers personalization and useful info to share with friends.
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">MESSAGE HISTORY</div>
        <div>
          In-app messaging feature helps users keep track of shared music.
        </div>
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <img src="assets/spotify/spotify_sketch_4.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_sketch_4.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/spotify/spotify_sketch_5.png"
            class="content-image-no-shadow" style="width: 75%"
            (click)="openDialog('assets/spotify/spotify_sketch_5.png')">
      </div>
    </div>
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="content-section">
      <div class="content-subtitle">LOW FIDELITY USABILITY TEST</div>
      <div class="left-col-content">
        <p>
          Two participants were tasked to share a song with a friend on Spotify.
        </p>
        <p>
          The prototype was presented on a computer screen and I scrolled to the next screen based on what the user said they would interact with.
        </p>
      </div>
    </div>
  </div>
  <div class="right-content" style="padding-top: 0px;">
    <div class="content-section">
      <div class="content-subtitle">AFFINITY MAP</div>
        <div>
          <p>
            The test helped validate my ideas of sharing within Spotify and grouping friends into categories.
          </p>
          <p>
            I also discovered what didn’t work such as confusion about the location of the music note icon on the chat screen and how a user would access the message box on someone’s profile.
          </p>
        </div>
    </div>
    <img src="assets/spotify/spotify_lf_affinity_map.png"
         class="content-image" style="width: 75%"
         (click)="openDialog('assets/spotify/spotify_lf_affinity_map.png')">
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="content-subtitle">HIGH FIDELITY WIREFRAMES + PROTOTYPE</div>
    <div class="left-col-content">
      <p>
        I made edits to the design based on user feedback and added UI elements from Spotify’s existing UI to stay consistent with the brand.
      </p>
      <p>
        I used the Marvel app to create a prototype for my second round of usability tests.
      </p>
    </div>
  </div>
  <div class="right-content-wide" style="padding-top: 0px;">
    <div class="sketches-container">
      <div class="content-subsection">
        <div class="coral-subtitle">NOW PLAYING</div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">SHARE OPTIONS</div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">FRIENDS LIST</div>
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <img src="assets/spotify/spotify_hf_wireframe_1.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_hf_wireframe_1.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/spotify/spotify_hf_wireframe_2.png"
            class="content-image-no-shadow" style="width: 75%"
            (click)="openDialog('assets/spotify/spotify_hf_wireframe_2.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/spotify/spotify_hf_wireframe_3.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_hf_wireframe_3.png')">
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <div class="coral-subtitle">PROFILE WITH MESSAGE POP-UP</div>
        <div>
          Added “share” button to the profile.
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">PROFILE WITH MESSAGE TYPED OUT</div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">MESSAGE HISTORY</div>
        <div>
          Moved music note to the left / away from where the “send” button appears.
        </div>
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <img src="assets/spotify/spotify_hf_wireframe_4.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_hf_wireframe_4.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/spotify/spotify_hf_wireframe_5.png"
            class="content-image-no-shadow" style="width: 75%"
            (click)="openDialog('assets/spotify/spotify_hf_wireframe_5.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/spotify/spotify_hf_wireframe_6.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_hf_wireframe_6.png')">
      </div>
    </div>
  </div>
</div>

<div class="dark-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Test
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="content-subtitle">OBJECTIVE</div>
      <div class="left-col-content">
        Find areas that prevent users from easily finishing the task.
      </div>
    </div>
      <div class="content-subtitle">METHOD</div>
      <div class="left-col-content">
        Remote tests via Zoom
      </div>
  </div>
  <div class="right-content">
    <div class="content-section">
      <div class="content-subtitle">HIGH FIDELITY USABILITY TEST</div>
        <div>
          Five participants ranging from 25-29 who use the Spotify app to stream music were tasked with the following:
        </div>
        <div class="in-line-quote">
          You are listening to a song on Spotify and want to share it with your friend Dan. How would you do this?
        </div>
        <div>
          I predicted that the tests would run without issues since the app follows a similar pattern when using the share feature in messaging apps. While users said the task was easy to complete, we ran into issues with the message pop-up.
        </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">AFFINITY MAP</div>
        <div>
          <p>
            During tesing, I was intrigued by what users were drawn to first when interacting with the mobile prototype on desktop vs. mobile.
          </p>
          <p>
            Four users who accessed it via their desktop browser reported their eyes were drawn to the green “share” button at the top of the profile instead of the message box at the bottom. The fifth user who used her phone (the intended device) noticed the message box immediately.
          </p>
        </div>
        <br>
        <img src="assets/spotify/spotify_hf_affinity_map.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_hf_affinity_map.png')">
    </div>
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Improve
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="content-subtitle">DESIGN REVISIONS</div>
      <div class="left-col-content">
        <div>
          I implemented design changes to address the main issues that came up during testing.
        </div>
        <br>
        <button mat-stroked-button class="stroked-button" (click)="goToNewTab('https://marvelapp.com/prototype/4f172ca')">
          test final prototype <span class="material-icons font18">arrow_right_alt</span>
        </button>
      </div>
    </div>
  </div>
  <div class="right-content-wide" style="padding-bottom: 40px">
    <div class="sketches-container">
      <div class="content-subsection">
        <div class="coral-subtitle">NOW PLAYING</div>
        <div class="content-subtitle-small">INSIGHT</div>
        <div>
          Worried thumb would accidentally select like instead of share because they were too close.
        </div>
        <br>
        <div class="content-subtitle-small">EDIT</div>
        <div>
          Moved share button  away from the heart and other buttons to a spot that is still comfortable for the thumb to access on a mobile device.
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">PROFILE WITH MESSAGE OVERLAY</div>
        <div class="content-subtitle-small">PAIN POINT</div>
        <div>
          Selected green “share” button on profile and didn’t notice message box.
        </div>
        <br>
        <div class="content-subtitle-small">EDIT</div>
        <div>
          Changed message box to a pop-up in the center and dimmed the profile so users aren’t distracted from the sharing flow.
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle"> </div>
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <img src="assets/spotify/spotify_final_1.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_final_1.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/spotify/spotify_final_2.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_final_2.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/spotify/spotify_final_3.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/spotify/spotify_final_3.png')">
      </div>
    </div>
  </div>
</div>

<div class="dark-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Reflection
    </div>
  </div>
  <div class="right-content">
    <div class="content-section">
      <div class="content-subtitle">NEXT STEPS</div>
        <ul>
          <li style="margin-bottom: 10px; margin-left: 10px;">Conduct another round of usability tests to test the new share button location and message box with participants using mobile devices instead of desktop. </li>
          <li style="margin-bottom: 10px; margin-left: 10px;">Make further iterations on the designs and then hand off designs and prototype for implementation.</li>
        </ul>
    </div>
    <div class="content-section">
      <div class="content-subtitle">WHAT I LEARNED</div>
        <div>
          <p>
            A majority of the time spent on this project was to conduct research to discover and understand the problem. I explored many different problems and ideas to find one that would resonate most with the target user.
          </p>
          <p>
            During usability testing, I learned how different devices can influence user behavior. The feedback from desktop and mobile users brought up the importance of testing a prototype on the device it is intended for and how to analyze feedback when working within constraints (such as remote testing with mobile devices).
          </p>
        </div>
    </div>
  </div>
</div>

<div class="dark-bg side-paddings content-container">
  <div class="back-to-top" (click)="scrollToTop()">
    <div style="height: 36px;">
      <span class="material-icons" style="font-size: 36px;">expand_less</span>
    </div>
    back to top
  </div>
  <div class="project-nav-container">
    <div class="project-nav" (click)="goTo('pup-101')">
      <div class="content-subtitle" style="padding-left: 53px;">
        PREVIOUS PROJECT
      </div>
      <div class="case-title" style="display: flex;">
        <span class="material-icons" style="font-size: 36px;">chevron_left</span><div>&nbsp; Pup 101 App</div>
      </div>
    </div>
    <div class="project-nav" (click)="goTo('clearsky')">
      <div class="content-subtitle">
        NEXT PROJECT
      </div>
      <div class="case-title" style="display: flex;">
        <div>ClearSky Website &nbsp;</div><span class="material-icons" style="font-size: 36px;">chevron_right</span>
      </div>
    </div>
  </div>
</div>
