<div class="top-of-page "#topOfPage></div>

<div class="dark-bg banner-container full-height-no-footer side-paddings">
  <div class="title-container">
    <div class="case-title">
      Pup 101 App:
    </div>
    <div class="case-subtitle">
      Helping new dog owners raise their pups
    </div>
  </div>
  <img src="/assets/pup101_banner.png" class="banner-img">
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Project Overview
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="content-subtitle">ROLE</div>
      <div class="left-col-content">UX/UI Designer, Researcher</div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">TOOL</div>
      <div class="left-col-content">Figma</div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">DURATION</div>
      <div class="left-col-content">80 hours within 2 weeks</div>
    </div>
    <div class="content-section">
      <div class="left-col-content" style="font-size: 14px;">Note: This was a speculative project for Designlab.</div>
    </div>
  </div>

  <div class="right-content">
    <div class="content-section">
      <div class="content-subtitle">BACKGROUND</div>
      <div>
        <p>
          The rise in pet adoptions due to the COVID-19 lockdown struck a chord with me as an owner of a 2 year old rescue dog. I was thrilled that animals were finding homes and people felt comfort in welcoming a new family member.  But I was also concerned what would happen once people go back to their normal routines and leave their pets home alone, who are likely used to having their owners home all day.
        </p>
        <p>
          People put a lot of effort into finding the right dog, but what happens after they bring their dog home? It can take weeks or months for a dog to fully acclimate into a new home, and it’s important for new owners to be prepared and put in the time and energy their pups will need.
        </p>
      </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">GOAL</div>
      <div>
        Equip new dog owners with the right tools so they feel confident raising their pet.
      </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">PROBLEM</div>
      <div>
        Owners felt unprepared when they brought their new pet home and were overloaded by too much information from online sources when looking for answers on raising their pet.
      </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">SOLUTION</div>
      <div>
        Design a mobile app that provides new owners with essential information to help them create a routine and set their puppy up for success.
      </div>
    </div>
  </div>
</div>

<div class="dark-bg quote">
  How can we make it easier for new dog owners to know what the essentials are for raising their pet?
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Research
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="content-subtitle">GOALS</div>
      <div class="left-col-content">
        <ul>
          <li>Discover what resources new owners use to raise their dog.</li>
          <br>
          <li>Identify pain points and unmet needs of new owners when taking care of their dog.</li>
          <br>
          <li>Understand the motivations of dog owners when raising their dog.</li>
        </ul>
      </div>
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="sources">
        Sources: APPA Pet Industry Market Size & Ownership Statistics, The APPA Generational Report, Volume 2: Findings, ZoomRoom The Pet Industry in 2019, The State of the Pet Industry: Pet Market Statistics and Future Trends
      </div>
    </div>
  </div>

  <div class="right-content-wide">
    <div class="content-section">
      <div class="sketches-container">
        <div class="research-list">
          <div class="content-subtitle">SECONDARY RESEARCH</div>
          <div style="font-size: 18px;">
            Without direct competitors, I looked into pet industry trends and what resources are available to dog owners.
          </div>
          <ul>
            <li style="margin-bottom: 5px">In 2019, $95.7 billion was spent on pets in the US.</li>
            <li style="margin-bottom: 5px">63.4 million U.S. households own a dog.</li>
            <li style="margin-bottom: 5px">Owners refer to in-store browsing, TV ads, Internet, veterinarian, friends, and relatives for awareness on new products.</li>
            <li style="margin-bottom: 5px">Baby Boomers and Millennials represent the two biggest age groups for pet ownership.</li>
            <li style="margin-bottom: 5px">Industry is “recession-resistant” due to: multi-generational appeal of pets, treatment as beloved family members, increased awareness of health and happiness benefits from pet ownership, and social media climate that celebrates pets.</li>
            <li style="margin-bottom: 5px">Concerned with leaving pet alone during the day as a majority of pet owning households have both owners working full time.</li>
            <li style="margin-bottom: 5px">Owners are turning to technology for a greater sense of their pet's well-being and security. Popular pet tech includes: health and nutrition apps, pet service apps, pet monitoring cameras, and smart toys.</li>
          </ul>
        </div>
        <div class="research-list">
          <div class="content-subtitle">1-ON-1 INTERVIEWS</div>
          <div style="font-size: 18px;">
            Five participants were interviewed for a better understanding of dog ownership behavior and how people raise their dogs.
          </div>
          <ul>
            <li style="margin-bottom: 5px">Adopted or bought dogs as puppies (8-12 weeks old).</li>
            <li style="margin-bottom: 5px">Focused more on finding the right dog, less on preparing by purchasing supplies and setting up their home.</li>
            <li style="margin-bottom: 5px">Overwhelmed by too many resources, tried countless training methods, and unable to find clear answers.</li>
            <li style="margin-bottom: 5px">Stressed from sleepless nights, failures during potty training, crate training, and leash pulling.</li>
            <li style="margin-bottom: 5px">Felt guilty when leaving dogs at home alone.</li>
            <li style="margin-bottom: 5px">Surprised by the high costs associated with raising a puppy.</li>
            <li style="margin-bottom: 5px">Want to know dog essentials from the start, how to keep dogs busy, training methods for a confident, well-behaved dog, places and people to help socialize, and ways to ask other owners for advice.</li>
            <li style="margin-bottom: 5px">Feel joy in caring for their dog, would do anything for them, look for proximity and price convenience of activities and pet services, and strive to keep their dog healthy and happy.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-section" style="width: 85%">
      <div class="content-subtitle">EMPATHY MAP</div>
      <div>
        To get into the mind of the target user, I arranged my interview notes on an empathy map, which helped me visualize the user's feelings and environment.
      </div>
      <br>
      <img src="assets/pup101_empathy_map.png"
           class="content-image"
           (click)="openDialog('assets/pup101_empathy_map.png')">
    </div>
    <div class="content-section" style="width: 85%">
      <div class="content-subtitle">USER PERSONA</div>
      <div>
        I expanded on the empathy map by building a persona with additional details about the user from insights that came up among multiple interviews. The target user I was designing the app for is Aly, a long-time dog lover who is ready to take on the responsibility of a dog owner.
      </div>
      <br>
      <img src="assets/pup101_persona.png"
           class="content-image"
           (click)="openDialog('assets/pup101_persona.png')">
    </div>
  </div>
</div>

<div class="dark-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Define
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
        <div class="content-subtitle">PROBLEM</div>
        <div class="left-col-content">
          Users are overloaded by too much information from online sources on how to raise a puppy, so how might we make it easier for them to know what the essentials are?
        </div>
    </div>
        <div class="content-subtitle">SOLUTION</div>
        <div class="left-col-content">
          Prepare new owners with information about puppy basics by helping them set up a routine and checklist.
        </div>
  </div>
  <div class="right-content">
    <div class="content-section">
      <div class="content-subtitle">CRAZY EIGHTS</div>
        <div>
          Based on Aly’s pain points and frustrations, I made a list of four problem statements to brainstorm ideas for. I used the Crazy Eights exercise (draw eight ideas in five minutes) four times, which resulted in ~30 ideas.
        </div>
      <br>
      <div class="sketches-container">
        <img src="assets/pup101_crazy_eights_1.png"
             class="content-image" style="width: 50%; padding-right: 20px"
             (click)="openDialog('assets/pup101_crazy_eights_1.png')">
        <img src="assets/pup101_crazy_eights_2.png"
             class="content-image" style="width: 50%;"
             (click)="openDialog('assets/pup101_crazy_eights_2.png')">
      </div>
      <br>
      <div class="sketches-container">
        <img src="assets/pup101_crazy_eights_3.png"
             class="content-image" style="width: 50%; padding-right: 20px"
             (click)="openDialog('assets/pup101_crazy_eights_3.png')">
        <img src="assets/pup101_crazy_eights_4.png"
             class="content-image" style="width: 50%;"
             (click)="openDialog('assets/pup101_crazy_eights_4.png')">
      </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">STORYBOARDS</div>
        <div>
          <p>
            I repeated the Crazy Eights exercise with storyboards to ideate solutions that address the problem that came up most: learning what the basic puppy essentials are.
          </p>
          <p>
            Ideas included a to-do list or schedule, search feature for nearby businesses, and a discussion forum to ask questions and chat with other dog owners.
          </p>
        </div>
      <br>
      <div class="sketches-container">
        <img src="assets/pup101_storyboard_1.png"
             class="content-image" style="width: 33%; padding-right: 20px"
             (click)="openDialog('assets/pup101_storyboard_1.png')">
        <img src="assets/pup101_storyboard_2.png"
             class="content-image" style="width: 33%; padding-right: 20px"
             (click)="openDialog('assets/pup101_storyboard_2.png')">
        <img src="assets/pup101_storyboard_3.png"
             class="content-image" style="width: 33%;"
             (click)="openDialog('assets/pup101_storyboard_3.png')">
      </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">USER FLOW</div>
        <div>
          I took the first storyboard with a puppy checklist that guides users in setting up a routine for their puppy and mapped a flow with steps they would take.
        </div>
        <br>
        <img src="assets/pup101_user_flow.png"
             class="content-image-no-shadow"
             (click)="openDialog('assets/pup101_user_flow.png')">
    </div>
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Design
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="content-subtitle">SKETCHES</div>
      <div class="left-col-content">
        I started by referencing task management apps for inspiration to produce content for each screen.
      </div>
    </div>
  </div>
  <div class="right-content-wide">
    <div class="sketches-container">
      <div class="content-subsection">
        <div class="coral-subtitle">HOME: NEW PUPPY CHECKLIST</div>
        <div>
          Introduce “Create Routine” as a checklist item to set expectations on what puppies need.
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">CREATE ROUTINE</div>
        <div>
          Set up routine on a single screen. Alternate layout is a separate screen for each category (meals, potty, exercise).
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">ROUTINE OVERVIEW: VARIATION 1</div>
        <div>
          Display final routine separated by routine category
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">ROUTINE OVERVIEW: VARIATION 2</div>
        <div>
          Display final routine in chronological order
        </div>
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <img src="assets/pup101_sketch_1.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/pup101_sketch_1.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/pup101_sketch_2.png"
            class="content-image-no-shadow" style="width: 75%"
            (click)="openDialog('assets/pup101_sketch_2.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/pup101_sketch_3.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/pup101_sketch_3.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/pup101_sketch_4.png"
             class="content-image-no-shadow" style="width: 75%"
             (click)="openDialog('assets/pup101_sketch_4.png')">
      </div>
    </div>
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="content-subtitle">LOW FIDELITY WIREFRAMES</div>
    <div class="left-col-content">
      I added details to the sketches in Figma in order to build and test a low fidelity prototype for quick user feedback.
    </div>
  </div>
  <div class="right-content-wide" style="padding-top: 0px;">
    <div class="sketches-container">
      <div class="content-subsection">
        <div class="coral-subtitle">HOME: NEW PUPPY CHECKLIST</div>
        <div>
          Prompts user to start with the next item on their checklist
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">CREATE ROUTINE</div>
        <div>
          Added advice for each category to help educate the user
        </div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">CREATE ROUTINE: SET REMINDERS</div>
        <div>
          Time overlays will appear if a user decides to set reminders
        </div>
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <img src="assets/pup101_lf_wireframe_1.png"
             class="content-image" style="width: 66%"
             (click)="openDialog('assets/pup101_lf_wireframe_1.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/pup101_lf_wireframe_2.png"
            class="content-image" style="width: 66%"
            (click)="openDialog('assets/pup101_lf_wireframe_2.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/pup101_lf_wireframe_3.png"
             class="content-image" style="width: 66%"
             (click)="openDialog('assets/pup101_lf_wireframe_3.png')">
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <div class="coral-subtitle">ROUTINE OVERVIEW: TIME</div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">ROUTINE OVERVIEW: CATEGORY</div>
      </div>
      <div class="content-subsection">
        <div class="coral-subtitle">HOME: ROUTINE SCHEDULE</div>
      </div>
    </div>
    <div class="sketches-container">
      <div class="content-subsection">
        <img src="assets/pup101_lf_wireframe_4.png"
             class="content-image" style="width: 66%"
             (click)="openDialog('assets/pup101_lf_wireframe_4.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/pup101_lf_wireframe_5.png"
            class="content-image" style="width: 66%"
            (click)="openDialog('assets/pup101_lf_wireframe_5.png')">
      </div>
      <div class="content-subsection">
        <img src="assets/pup101_lf_wireframe_6.png"
             class="content-image" style="width: 66%"
             (click)="openDialog('assets/pup101_lf_wireframe_6.png')">
      </div>
    </div>
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="content-section">
      <div class="content-subtitle">LOW FIDELITY USABILITY TEST</div>
      <div class="left-col-content">
        <p>
          Three participants were asked to use the app to create a routine for their new puppy.
        </p>
        <p>
          My test objective was to get feedback on two features:
        </p>
        <ul>
          <li style="margin-bottom: 5px">What do users think about setting up a routine on a single screen (vs separate screens)?</li>
          <li style="margin-bottom: 5px">Which routine overview layout do users prefer?</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-content" style="padding-top: 0px;">
    <div class="content-section">
      <div class="content-subtitle">AFFINITY MAP</div>
        <div>
          The key takeaways from the first usability test were:
        </div>
        <ul>
          <li style="margin-bottom: 10px; margin-left: 10px; font-size: 16px">“Create Routine” on a single screen doesn’t work. Too many routine items and it was hard for users to focus on the current section when they were still able to see the previous section.</li>
          <li style="margin-bottom: 10px; margin-left: 10px; font-size: 16px">Confused by "Set reminders" toggle above time sessions. One user thought it functioned as a dropdown and tried to remove the Meals section from view so he could focus on the Potty section.</li>
          <li style="margin-bottom: 10px; margin-left: 10px; font-size: 16px">Preferred the final timeline/chronological layout.</li>
          <li style="margin-bottom: 10px; margin-left: 10px; font-size: 16px">Expressed interest in adding a manual routine item.</li>
        </ul>
    </div>
    <img src="assets/pup101_lf_affinity_map.png"
         class="content-image"
         (click)="openDialog('assets/pup101_lf_affinity_map.png')">
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="content-section">
      <div class="content-subtitle">UI DESIGN: BRANDING</div>
    </div>
  </div>
  <div class="right-content" style="padding-top: 0px;">
    <div class="content-section">
          Combining the brand attributes (playful, fun, caring) with the educational nature of the app, I decided on the brand name "Pup 101" and logo. The paw print created by the 0 in 101 was a nod to the caring nature of the brand and a way to welcome users to the app.
    </div>
    <img src="assets/pup101_branding.png"
         class="content-image" style="width: 75%"
         (click)="openDialog('assets/pup101_branding.png')">
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="content-section">
      <div class="content-subtitle">UI DESIGN: VISUAL EXPLORATION</div>
      <div class="left-col-content">
        <p>
          I moved onto imagery and found dog illustrations that embodied the playful, fun nature of the brand.
        </p>
        <p>
          The bright yellow and orange colors from the illustrations inspired the color palette, which paired nicely with DM Sans, a playful and legible typeface.
        </p>
        <p>
          I experimented with these UI elements with four different visual designs.
        </p>
      </div>
    </div>
  </div>
  <div class="right-content" style="padding-top: 0px;">
    <div class="sketches-container">
      <div class="wireframes-subsection" style="margin-bottom: 10px">
        <div class="coral-subtitle">VERSION 1</div>
      </div>
      <div class="wireframes-subsection" style="margin-bottom: 10px">
        <div class="coral-subtitle"> </div>
      </div>
      <div class="wireframes-subsection" style="margin-bottom: 10px">
        <div class="coral-subtitle">VERSION 2</div>
      </div>
      <div class="wireframes-subsection" style="margin-bottom: 10px">
        <div class="coral-subtitle"> </div>
      </div>
    </div>
    <div class="sketches-container" style="margin-bottom: 0px">
      <div class="wireframes-subsection">
        <img src="assets/pup101_exploration_1.png"
             class="content-image"
             (click)="openDialog('assets/pup101_exploration_1.png')">
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_exploration_2.png"
            class="content-image"
            (click)="openDialog('assets/pup101_exploration_2.png')">
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_exploration_3.png"
             class="content-image"
             (click)="openDialog('assets/pup101_exploration_3.png')">
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_exploration_4.png"
             class="content-image"
             (click)="openDialog('assets/pup101_exploration_4.png')">
      </div>
    </div>
    <div class="sketches-container">
      <div class="wireframes-subsection" style="margin-bottom: 10px">
        <div class="coral-subtitle">VERSION 3</div>
      </div>
      <div class="wireframes-subsection" style="margin-bottom: 10px">
        <div class="coral-subtitle"> </div>
      </div>
      <div class="wireframes-subsection" style="margin-bottom: 10px">
        <div class="coral-subtitle">VERSION 4</div>
      </div>
      <div class="wireframes-subsection" style="margin-bottom: 10px">
        <div class="coral-subtitle"> </div>
      </div>
    </div>
    <div class="sketches-container" style="margin-bottom: 0px">
      <div class="wireframes-subsection">
        <img src="assets/pup101_exploration_5.png"
             class="content-image"
             (click)="openDialog('assets/pup101_exploration_5.png')">
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_exploration_6.png"
            class="content-image"
            (click)="openDialog('assets/pup101_exploration_6.png')">
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_exploration_7.png"
             class="content-image"
             (click)="openDialog('assets/pup101_exploration_7.png')">
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_exploration_8.png"
             class="content-image"
             (click)="openDialog('assets/pup101_exploration_8.png')">
      </div>
    </div>
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="content-section">
      <div class="content-subtitle">UI DESIGN: UI KIT</div>
    </div>
  </div>
  <div class="right-content" style="padding-top: 0px;">
    <div class="content-section">
      <div>
          I compared the four versions and asked myself which one looked fun to interact with and simple to use for busy new dog parents.
        <p>
          I selected version 4 for its straightforward layout and how the main brand color paired nicely with the other UI elements.
        </p>
      </div>
      <br>
      <img src="assets/pup101_ui_kit.png"
           class="content-image"
           (click)="openDialog('assets/pup101_ui_kit.png')">
      <div class="sources" style="padding-top: 10px">
        <a href="https://www.freepik.com/free-vector/cartoon-cute-puppy-set-different-situations_6821748.htm">Dog illustrations by macrovector</a>
      </div>
    </div>
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="content-section">
      <div class="content-subtitle">HIGH FIDELITY WIREFRAMES + PROTOTYPE</div>
      <div class="left-col-content">
        I made edits to the wireframes and added UI elements based on feedback from the first usability test.
      </div>
    </div>
  </div>
  <div class="right-content-wide" style="padding-top: 0px;">
    <div class="sketches-container">
      <div class="wireframes-subsection">
        <div class="coral-subtitle">HOME: NEW PUPPY CHECKLIST</div>
        <div>
          Personalized welcome message
        </div>
      </div>
      <div class="wireframes-subsection">
        <div class="coral-subtitle">CREATE ROUTINE: OVERVIEW</div>
        <div>
          Users set up each routine item on separate screens so they can focus on one category at a time.
        </div>
      </div>
      <div class="wireframes-subsection">
        <div class="coral-subtitle">CREATE ROUTINE: MEALS</div>
        <div>
          Replaced dropdown with + - buttons since the numbers won’t change drastically.
        </div>
      </div>
      <div class="wireframes-subsection">
        <div class="coral-subtitle">CREATE ROUTINE: MEALS, REMINDERS ON</div>
        <div>
          Moved "Get Reminders" toggle away from times to avoid confusion.
        </div>
      </div>
    </div>
    <div class="sketches-container">
      <div class="wireframes-subsection">
        <img src="assets/pup101_hf_wireframe_1.png"
             class="content-image" style="width: 75%"
             (click)="openDialog('assets/pup101_hf_wireframe_1.png')">
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_hf_wireframe_2.png"
            class="content-image" style="width: 75%"
            (click)="openDialog('assets/pup101_hf_wireframe_2.png')">
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_hf_wireframe_3.png"
             class="content-image" style="width: 75%"
             (click)="openDialog('assets/pup101_hf_wireframe_3.png')">
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_hf_wireframe_4.png"
             class="content-image" style="width: 75%"
             (click)="openDialog('assets/pup101_hf_wireframe_4.png')">
      </div>
    </div>
  </div>
</div>

<div class="light-bg side-paddings" style="padding-top: 20px; padding-bottom: 40px">
  <div class="sketches-container">
    <div class="wireframes-subsection">
      <div class="coral-subtitle">CREATE ROUTINE: MEALS, ADD INSTANCE</div>
      <div>
        Users can select an instance to rename it.
      </div>
    </div>
    <div class="wireframes-subsection">
      <div class="coral-subtitle">CREATE ROUTINE: OVERVIEW</div>
      <div>
        Return to setup screen for at-a-glance view and can edit sections.
      </div>
    </div>
    <div class="wireframes-subsection">
      <div class="coral-subtitle">CREATE ROUTINE: POTTY</div>
      <div>
        Potty break times are set around meal times
      </div>
    </div>
    <div class="wireframes-subsection">
      <div class="coral-subtitle">CREATE ROUTINE: EXERCISE</div>
      <div>
        Provide different exercise activities as suggestions
      </div>
    </div>
    <div class="wireframes-subsection">
      <div class="coral-subtitle">HOME: NEW PUPPY CHECKLIST DONE</div>
      <div>
        Return to main checklist for checkmark done animation
      </div>
    </div>
    <div class="wireframes-subsection">
      <div class="coral-subtitle">HOME: ROUTINE SCHEDULE</div>
      <div>
        User can now access daily routine on the home screen.
      </div>
    </div>
  </div>
  <div class="sketches-container">
    <div class="wireframes-subsection">
      <img src="assets/pup101_hf_wireframe_5.png"
           class="content-image" style="width: 75%"
           (click)="openDialog('assets/pup101_hf_wireframe_5.png')">
    </div>
    <div class="wireframes-subsection">
      <img src="assets/pup101_hf_wireframe_6.png"
          class="content-image" style="width: 75%"
          (click)="openDialog('assets/pup101_hf_wireframe_6.png')">
    </div>
    <div class="wireframes-subsection">
      <img src="assets/pup101_hf_wireframe_7.png"
           class="content-image" style="width: 75%"
           (click)="openDialog('assets/pup101_hf_wireframe_7.png')">
    </div>
    <div class="wireframes-subsection">
      <img src="assets/pup101_hf_wireframe_8.png"
           class="content-image" style="width: 75%"
           (click)="openDialog('assets/pup101_hf_wireframe_8.png')">
    </div>
    <div class="wireframes-subsection">
      <img src="assets/pup101_hf_wireframe_9.png"
           class="content-image" style="width: 75%"
           (click)="openDialog('assets/pup101_hf_wireframe_9.png')">
    </div>
    <div class="wireframes-subsection">
      <img src="assets/pup101_hf_wireframe_10.png"
           class="content-image" style="width: 75%"
           (click)="openDialog('assets/pup101_hf_wireframe_10.png')">
    </div>
  </div>
</div>

<div class="dark-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Test
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
        <div class="content-subtitle">OBJECTIVE</div>
        <div class="left-col-content">
          Identify frustrating or confusing parts that impact a user's ability to complete the task easily.
        </div>
    </div>
        <div class="content-subtitle">METHOD</div>
        <div class="left-col-content">
          Remote tests via Zoom
        </div>
  </div>
  <div class="right-content">
    <div class="content-section">
      <div class="content-subtitle">HIGH FIDELITY USABILITY TEST</div>
        <div>
          I reached out to five participants from 27-55 years old who recently raised a puppy or plan to get a puppy. They were given this task to complete using the app:
        </div>
        <div class="in-line-quote">
          You are planning your new puppy's arrival and want to check off the final item on your to-do list by creating a routine for him. Since he's only 3 months old, you want to stick to a strict schedule. How would you set this up?
        </div>
        <div>
          Users were asked to share their screen and think aloud. All participants completed the task with a 100% error-free rate and said the app was easy to use.
        </div>
    </div>
    <div class="content-section">
      <div class="content-subtitle">AFFINITY MAP</div>
        <div>
          During this second round of testing, I encountered a lot of positive feedback, which validated my design decisions.
        </div>
        <br>
        <img src="assets/pup101_hf_affinity_map.png"
             class="content-image-no-shadow"
             (click)="openDialog('assets/pup101_hf_affinity_map.png')">
    </div>
  </div>
</div>

<div class="light-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Improve
    </div>
    <hr class="page-break" width="50px" noshade size="2px" align="left">
    <div class="content-section">
      <div class="content-subtitle">DESIGN REVISIONS</div>
      <div class="left-col-content">
        <p>
          I addressed the pain points and insights from the usability tests.
        </p>
        <p>
          I also cleaned up the prototype transitions for consistency and slowed down the final transition so the user is able to see and fully enjoy completing their checklist.
        </p>
        <br>
        <button mat-stroked-button class="stroked-button" (click)="goToNewTab('https://www.figma.com/proto/Adu5Hjfr9uhOSuABqSCXrL/Pup-101-Final?node-id=4%3A0&viewport=261%2C169%2C0.10494430363178253&scaling=scale-down')">
          test final prototype <span class="material-icons font18">arrow_right_alt</span>
        </button>
      </div>
    </div>
  </div>
  <div class="right-content-wide" style="padding-top: 0px; padding-bottom: 40px">
    <div class="sketches-container">
      <div class="wireframes-subsection">
        <div class="coral-subtitle">CREATE ROUTINE: MEALS</div>
        <div class="content-subtitle-small">PAIN POINT</div>
        <div>
          Wanted to adjust times based on their personal schedule
        </div>
        <br>
        <div class="content-subtitle-small">EDIT</div>
        <div>
          <ul>
            <li>Added time slider</li>
          </ul>
        </div>
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_final_1.png"
             class="content-image-no-shadow" style="width: 90%"
             (click)="openDialog('assets/pup101_final_1.png')">
      </div>
      <div class="wireframes-subsection">
        <div class="coral-subtitle">CREATE ROUTINE: OVERVIEW</div>
        <div class="content-subtitle-small">PAIN POINT</div>
        <div>
          Wanted to schedule potty break after waking up and right before bedtime.
        </div>
        <br>
        <div class="content-subtitle-small">INSIGHT</div>
        <div>
          Hard to schedule naps since puppies tend to nap whenever they want.
        </div>
        <br>
        <div class="content-subtitle-small">EDIT</div>
        <div>
          <ul>
            <li style="margin-bottom: 5px">Adjusted times so that the first potty break was before breakfast.</li>
            <li style="margin-bottom: 5px">Replaced “naps” with “crate” under "Add Routine Item".</li>
          </ul>
        </div>
      </div>
      <div class="wireframes-subsection">
        <img src="assets/pup101_final_2.png"
             class="content-image-no-shadow" style="width: 90%"
             (click)="openDialog('assets/pup101_final_2.png')">
      </div>
    </div>
  </div>
</div>

<div class="dark-bg side-paddings column-container">
  <div class="left-content">
    <div class="left-col-title">
      Reflection
    </div>
  </div>
  <div class="right-content">
    <div class="content-section">
      <div class="content-subtitle">NEXT STEPS</div>
        <ul>
          <li style="margin-bottom: 10px; margin-left: 10px;">Conduct a final usability test to get feedback from users on the time slider and then build features for the rest of the checklist items.</li>
          <li style="margin-bottom: 10px; margin-left: 10px;">Create a feature that lets users talk with other owners and find pet services near them (based on user interest in the Explore tab during testing).</li>
        </ul>
    </div>
    <div class="content-section">
      <div class="content-subtitle">WHAT I LEARNED</div>
        <div>
          <p>
            Due to time constraints implemented for this project, I moved forward with one flow (create a routine). By focusing on one problem and feature, I learned the importance of making sure I understood the problem and solved it in the best possible way for the user.
          </p>
          <p>
            Through multiple rounds of ideation, sketching, and testing, my ideas evolved and I gained meaningful feedback from users to come up with a final design they enjoyed.
          </p>
        </div>
    </div>
  </div>
</div>

<div class="dark-bg side-paddings content-container">
  <div class="back-to-top" (click)="scrollToTop()">
    <div style="height: 36px;">
      <span class="material-icons" style="font-size: 36px;">expand_less</span>
    </div>
    back to top
  </div>
  <div class="next-project-container" (click)="goTo('spotify')">
    <div class="content-subtitle">
      NEXT PROJECT
    </div>
    <div class="case-title" style="display: flex;">
      <div>Spotify Feature &nbsp;</div><span class="material-icons" style="font-size: 36px;">chevron_right</span>
    </div>
  </div>
</div>
