<div class="content-container about-container dark-bg side-paddings full-min-height">
  <div class="half-container">
    <span class="title">
      Hi, I'm Michelle Baamonde.
    </span>
    <br/>
    <span>
      (think "bah-mon-day"!)
    </span>

    <hr class="page-break" width="50px" noshade size="1px" align="left">

    <p>
      Equipped with a communications degree from NYU, I joined IPSY’s customer care team in the SF Bay Area, focusing on social media support. A few years later, I returned to NYC and joined the brand partnerships team, where I managed communications for 10-12 brand accounts per month.
    </p>
    <p>
      Coming from a background where I prioritized the needs of the customers, clients, and business, I focus on the user at every stage of my design process. I am intrigued by how research uncovers how people think and drives design decisions that bring ideas to life. My goal is to work with a team where I can use my communication and design skills to build products and meaningful experiences for users.
    </p>
    <p>
      Outside of design, I love to run in Central Park with my rescue dog Milo (goal is to run a sub-2 hour marathon) and play video games. You can sometimes catch me live streaming on Twitch!
    </p>

    <hr class="page-break" width="50px" noshade size="1px" align="left">

    <p class="subtitle">
      In case you were curious...
    </p>
    <p>
      Backstory on the logo: My Korean initials are ㅁ for M. ㅂ for P or B
    </p>
    <p>
      The ㅂ symbol is an homage to my roots and new beginnings since it represents both Park (maiden name) and Baamonde.
    </p>

  </div>
  <div class="half-container">
    <img src="assets/about_1.jpg" class="about1">
    <img src="assets/about_2.jpg" class="about2">
  </div>
</div>
