.about-container {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.title {
  font-family: 'Lora';
  font-size: 28px;
  font-weight: 500;
}

.subtitle {
  font-family: 'Lora';
  font-size: 20px;
  font-weight: 500;
}

.half-container {
  position: relative;
  width: 60%;
  padding-bottom: 20px;
}

.half-container-img {
  position: relative;
  width: 37%;
  padding-bottom: 20px;
}

.page-break {
  margin-top: 30px;
  margin-top: 21px;
}

.about1 {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 70%;
  max-width: 55%;
}

.about2 {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  right: 0;
  max-height: 70%;
  max-width: 55%;
}

@media only screen and (max-width: 600px) {
  .about-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .half-container {
    padding-top: 20px;
    width: 100%;
    position: inherit;
  }

  .half-container-img {
    position: inherit;
    width: 100%;
  }

  .about1 {
    height: 100%;
    position: inherit;
    width: 55%;
    max-height: inherit;
    max-width: inherit;
  }

  .about2 {
    width: 40%;
    max-height: inherit;
    max-width: inherit;
    bottom: auto;
    right: auto;
    left: 47%;
    top: 16%;
  }
}
