<div class="content-container light-bg side-paddings" style="width:50%">
  <div class="title-container">
    <div class="case-title">
      Discount Tire Desktop POS
    </div>
    <div class="case-subtitle">
      Customer Service List Redesign
    </div>
    <div>
      2022-2024
    </div>
  </div>
  <div>
    During my time working on Project Vision for Discount Tire, I took responsibility as Design Lead of our Work Order Management workstream at the request of the client. One of the projects I led invovled a redesign of the Customer Service List.
  </div>
</div>

  <div class="content-section">
    <div class="content-subtitle">Problem</div>
    <div>
      Uncover More is looking to grow by offering its community a convenient way of searching for safe, reliable, and fun activities on the go.
    </div>
  </div>
  <div class="content-section">
    <div class="content-subtitle">Solution</div>
    <div>
      New Yorkers are looking for memorable experiences in the city, but feel overwhelmed with the number of options and spend too much time researching and planning.
    </div>
  </div>
  <div class="content-section">
    <div class="content-subtitle">Approach</div>
    <div>
      Design the mobile app to help New Yorkers explore curated recommendations around them in a digestible format.
    </div>
  </div>