.template-container {
  display: flex;
  justify-content: space-around;
  font-family: 'Lora';
  font-size: 48px;
  line-height: 450px;
}

.content {

}

.content-section {
  margin-bottom: 40px;
}

.case-title {
  font-family: 'Lora';
  font-size: 36px;
}

.case-subtitle {
  font-family: 'Lora';
  font-size: 24px;
}

.content-subtitle {
  font-weight: bold;
}