/**************/
/**HOME INTRO**/
/**************/

.home-intro {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.prof-pic {
  flex-basis: 42.5%;
}

.intro-text-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3.5vw;
  letter-spacing: 0.5px;
}

.intro-text {
  font-size: 2.5vw;
  font-family: 'Lora';
  font-weight: 500;
}

.sub-intro-text {
  font-size: 1.3vw;
  font-weight: 500;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

.intro-link {
  width: 150px;
  margin-left: calc(50% - 75px);
  margin-right: calc(50% - 75px);
  text-align: center;
  color: #FAFAFA;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.2s;
}

.intro-link:hover {
  color: #E95E5F;
}


.intro-bottom-container {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.keep-scrolling {
  text-align: center;
  position: absolute;
  top: calc(100vh - 100px);
  width: 80%;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.click-to-scroll {
  cursor: pointer;
  fill: #FAFAFA;
  transition: 0.2s;
}

.click-to-scroll:hover {
  color: #E95E5F;
  fill: #E95E5F;
}

.scroll-icon {
  padding-top: 10px;
}

.social-icon {
  cursor: pointer;
  transition: 0.2s;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
}

.social-icon:hover {
  color: #E95E5F;
}

@media only screen and (max-width: 600px) {
  .home-intro {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }

  .prof-pic {
    flex-basis: 60%;
  }

  .intro-text {
    font-size: 8vw;
    font-family: 'Lora';
    font-weight: 500;
  }

  .sub-intro-text {
    font-size: 4.5vw;
    font-weight: 500;
    margin-top: 10px;
  }

  .links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro-link {
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-right: calc(50% - 75px);
    text-align: center;
    color: #FAFAFA;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.2s;
  }

  .intro-bottom-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .keep-scrolling {
    position: absolute;
    top: calc(100vh - 100px);
    width: 80%;
    text-align: center;
  }

  .scroll-icon {
    height: 45px;
    padding-top: 10px;
    cursor: pointer;
  }

  .social-icon {
    cursor: pointer;
    transition: 0.2s;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-decoration: none;
  }

  .social-icon:hover {
    color: #E95E5F;
  }
}

/**************/
/**CASE CARDS**/
/**************/

.font18 {
  font-size: 18px !important;
}

.recent-work {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 80px 0px;
  text-align: center;
}

.case-card-grid-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
}
