.header {
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.header-links-container {
  vertical-align: middle;
  line-height: 48px;
}

.header-link {
  margin-left: 80px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.2s;
}

.header-link:hover {
  color: #E95E5F;
}

.current-route {
  color: #E95E5F;
}
