/* You can add global styles to this file, and also import other style files */
:root {
  --side-padding: 10%;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Manrope' !important;
  font-size: 18px;
}

a {
  color: #E95E5F;
}

.pink {
  color: #E95E5F;
}

.full-min-height {
  min-height: calc(100vh - 257px);//100vh minus height of header and footer combined
}

.full-min-height-no-footer {
  min-height: calc(100vh - 168px);//100vh minus height of header
}

.full-height-no-footer {
  height: calc(100vh - 168px);//100vh minus height of header
}

.full-min-height-no-header {
  min-height: calc(100vh - 89px);//100vh minus height of footer
}


.side-paddings {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

.dark-bg {
  background-color: #191F33;
  color: #FAFAFA;
}

.light-bg {
  background-color: #E5E5E5;
  color: #272727;
}

.clickable {
  cursor: pointer;
}

.content-container {
  border-bottom: 1px solid #BABABA;
  height: 100%;
}

.mat-raised-button {
  line-height: 50px !important;
  border-radius: 25px !important;
  font-family: 'Manrope' !important;
  background-color: #FAFAFA;
}

.mat-dialog-container {
  padding: 0px !important;
}//   max-height: 95% !important;
//   overflow: hidden !important;
// }
//
// .cdk-overlay-pane {
//   height: 100% !important;
//   margin-top: 2.5%;
// }

.stroked-button {
  border: 2px solid #E95E5F !important;
  color: #E95E5F;
  font-weight: 700;
  font-family: 'Manrope';
  font-size: 16px;
  letter-spacing: 1px;
  height: 50px;
  border-radius: 25px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  background-color: rgba(0,0,0,0);
  transition: 0.2s;
}

.stroked-button:hover {
  color: #FAFAFA;
  background-color: #E95E5F;
}

.stroked-button-home {
  border: 2px solid #FAFAFA !important;
  color: #FAFAFA;
  font-weight: 700;
  font-family: 'Manrope';
  font-size: 16px;
  letter-spacing: 1px;
  height: 50px;
  border-radius: 25px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  background-color: rgba(0,0,0,0);
  transition: 0.2s;
}

.stroked-button-home:hover {
  border: 2px solid #E95E5F !important;
  color: #FAFAFA;
  background-color: #E95E5F;
}

.back-to-top {
  padding-top: 40px;
  width: 100px;
  margin-left: calc(50% - 50px);
  margin-right: calc(50% - 50px);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.top-of-page {
  position: absolute;
  top: 0px;
}
